@charset "UTF8";
/*Este código acima, é uma regra para caso exista algum problema com caracteres*/



body{
    background-color: rgb(193, 193, 244);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;            
}

h1{
    color: blue;
}

h2{
    color: rgb(1, 124, 124);
}

p{
    text-align: justify;
}

/*Este é o melhor estilo para trabalhar em construção de sites e também podemos utilizar mais styles em páginas diferentes para ficar mais limpo e flexível seus sites.*/