@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;

}

header > h1 {
    padding-top: 50px;
    /*text-transform: uppercase; se quiser transformar tudo em maiúsculo */
    font-variant: small-caps; /*Todas também estão em formato maiúsculo, porém as primeiras são maiores*/
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
} /*para todos os links*/

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.221);
    color: white;    
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.414);
}/*para mexer no texto que ficará com imagem de fundo. Isso faz com que a imagem de fundo não atrapalhe a leitura do texto.*/

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}